/* font-family: Gotham Pro Regular */
@font-face {
  font-family: 'Gotham Pro';
  src: url('GothamPro_1.eot');
  src: url('GothamPro_1.eot?#iefix') format('embedded-opentype'),
       url('GothamPro_1.woff2') format('woff2'),
       url('GothamPro_1.woff') format('woff'),
       url('GothamPro_1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* font-family: Gotham Pro Bold */
@font-face {
  font-family: 'Gotham Pro';
  src: url('GothamPro-Bold_1.eot');
  src: url('GothamPro-Bold_1.eot?#iefix') format('embedded-opentype'),
      url('GothamPro-Bold_1.woff2') format('woff2'),
      url('GothamPro-Bold_1.woff') format('woff'),
      url('GothamPro-Bold_1.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
