html { font-family: 'GothamPro'; }

body { margin: 0; }

.wrapper {
  margin: auto;
  width: 88%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 32px 0 8px 0;
  height: 55px;
}

.header__logo { margin-right: 45px; }

.header__menu {
  display: flex;
  align-items: center;
  padding-right: 130px;
}

.burger__logo2,
.burger__button {
  display: none;
}

#burger__switch { opacity: 0; }

.burger__logo2 {
  width: 157px;
  height: 35px;
  margin: 41px;
  padding-left: 1px;
}

.nav { display: inline-block; }

a,
.product-item__price {
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  transition: color .1s ease-in;
}

a:hover { color: #f85a28; }

.header__item,
.header__right {
  color: #000;
}

.header__item { padding-right: 35px; }

.header__controls {
  width: 42%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  padding-left: 0;
  width: 158px;
  border: none;
}

.header__icon-search {
  width: 14px;
  height: 14px;
}

.header__search {
  border-bottom: solid 1px #000;
  margin-top: 5px;
}

.header__right-bucket {
  width: 55px;
  height: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__item:last-child,
.header__right:last-child {
  margin-right: 0;
  padding-right: 0;
}

.header_icon-flag {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.image > * { color: #fff; }

.image {
  background: url(images/legendary_footwear.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 281px;
  margin-bottom: 55px;
}

.image__link,
.image__title {
  padding-left: 60px;
}

.image__title { 
  font-size: 30px;
  width: 18%;
  line-height: 29px;
  margin: 15px 0 15px 0;
}

.image__arrow { justify-content: center; }

.products {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 31px;
}

.product-item {
  height: 261px;
  width: 216px;
  padding-left: 10px;
}

.product-item__img {
  width: 188px;
  height: 173px;
}

.products__title {
  font-size: 22px;
  margin-bottom: 10px;
  text-align: center;
}

.divider {
  height: 101px;
  margin-top: 42px;
}

.product-item__subtitle {
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  padding-top: 19px;
  margin-bottom: 8px;
}

.product-item__price {
  font-size: 14px;
  width: 206px;
  transition: none;
  float: left;
  text-align: left;
}

.product-item__color-big { display: none; }

.product-item__color { float: right; }

.mission {
  height: 494px;
  background-color: #000;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}

.mission__video { margin: 70px 33px; }

.mission__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 186px;
  width: 266px;
  margin-left: 9px;
}

.mission__title,
.mission__description,
.mission__link {
  color: #fff;
  display: inline-block;
  margin: 0;
}

.mission__title {
  font-size: 22px;
  line-height: 28px;
}

.mission__description {
  font-size: 14px;
  line-height: 17px;
}

.mission__link {
  margin-top: 9px;
  margin-bottom: -1px;
}

.image__arrow-2 {
  margin-left: 5px;
}

.blog__title {
  font-size: 22px;
  text-align: center;
  margin-bottom: 41px;
}

.blog {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.blog__img { margin-bottom: 29px; }

.blog__entry {
  width: 307px;
  height: 338px;
}

.blog__text {
  height: 159px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog__subtitle {
  font-size: 18px;
  margin: 0;
}

.blog__description {
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  margin-top: -5px;
}

.blog__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog__link .image__arrow { margin-left: -29px; }

.blog__date {
  float: right;
  color: #000;
  opacity: 0.3;
}

.gallery__subtitle {
  font-size: 18px;
  text-align: right;
  color: #000000;
  opacity: 0.3;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: -10px 0 79px;
}

.gallery__img {
  width: 148px;
  height: 148px;
  margin-right: -1px;
}

.gallery__img-hide { display: none; }

.footer {
  text-align: center;
  width: 100%;
  height: 296px;
  color: #fff;
  background-color: #000;
}

.footer__wrapper {
  width: 66%;
  margin: 0 auto;
  padding: 68px 69px 51px 69px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 28px;
}

.footer__list {
  height: 127px;
  width: 170px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

#number4 {
  display: block;
  text-align: left;
}

.footer__title {
  margin: 0 0 7px;
  font-size: 12px;
}

.spacer { margin-bottom: 3px; }

.footer__item,
.footer__copyright {
  list-style: none;
  font-size: 12px;
  line-height: 17px;
}

.discount {
  width: 175px;
  margin: 0;
}

.footer__button {
  background-color: #000;
  opacity: 100%;
  font-size: 10px;
  color: #fff;
  font-family: 'GothamPro';
  font-weight: 700;
  width: 138px;
  height: 30px;
  margin: 10px 0;
  padding: 10px;
  border: #fff solid 2px;
}

.social {
  width: 137px;
  display: flex;
  justify-content: space-between;
  padding: 25px 3px 0 0;
}

.footer__copyright {
  margin: 20px;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .wrapper { width: 91%; }

  .header { margin-bottom: 21px; }

  .header__logo {
    width: 66px;
    height: 60px;
    margin-right: 30px;
  }

  .header__menu { padding-right: 0; }

  input { width: 140px; }

  .header__search { padding-right: 3px; }

  .header__right { margin-left: 5px; }
  
  .image {
    height: 253px;
    margin-bottom: 70px;
  }

  .image__title,
  .image__link {
    padding-left: 55px;
  }

  .image__title { margin: 10px 0 10px 0; }

  .image__arrow { margin-left: 11px; }

  .products {
    margin-bottom: 57px;
  }

  .product-item {
    padding-left: 0;
    width: 208px;
  }

  .product-item__img { width: 167px; }

  .product-item__subtitle {
    padding-top: 19px;
    margin-bottom: 8px;
  }

  .product-item__price,
  .product-item__subtitle {
    margin-left: 11px;
  }

  .product-item__price { width: 188px; }

  .mission {
    height: 442px;
    margin-bottom: 95px;
  }

  .mission__video {
    width: 62%;
    margin: 60px 32px;
  }

  .mission__title {
    margin-top: -4px;
  }

  .mission__text {
    width: 27%;
    height: 167px;
    margin-left: 7px;
  }

  .mission__description {
    font-size: 13px;
    margin-top: 0;
    line-height: 16px;
  }

  .blog { margin-bottom: 90px; }

  .blog__entry {
    width: 278px;
    height: 338px;
  }

  .blog__img {
    width: 278px;
    height: 147px;
  }

  .blog__subtitle { font-size: 18px; }

  .blog__description {
    font-size: 13px;
    line-height: 16px;
    margin-top: -12px;
  }

  .blog__link { font-size: 12px; }

  .blog__link .image__arrow { margin-left: -32px; }

  .gallery { margin-bottom: 94px; }

  .gallery__subtitle { margin-bottom: 19px; }

  .gallery__img {
    width: 134px;
    height: 133px;
  }

  .footer__wrapper {
    width: 75%;
    padding-bottom: 53px;
  }

  .footer__button { margin-left: 0; }
}

@media only screen and (max-width: 786px) {
  .wrapper { width: 100%; }

  .header { display: none; }

  .header__burger { height: 71px; }

  .burger__logo2 { display: block; }

  .image {
    height: 417px;
    background-position: 17%;
    background-size: cover;
    margin-bottom: 67px;
  }

  .image__title,
  .image__link {
    padding-left: 44px;
  }

  .image__title {
    font-size: 50px;
    line-height: 48px;
    margin: 40px 0 35px 0;
  }

  .image__link {
    font-size: 20px;
    padding-top: 10px;
  }

  .image__arrow-3 {
    margin-left: -50px;
  }

  .divider,
  .product-item__hide {
    display: none;
  }

  .products {
    width: 82%;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .products__title {
    font-size: 30px;
    margin-right: 14px;
    margin-bottom: 20px;
  }

  .product-item {
    width: 281px;
    height: 352px;
  }

  .product-item__img {
    width: 230px;
    height: 233px;
  }

  .product-item__subtitle {
    font-size: 20px;
    padding-top: 0;
    margin-bottom: 20px;
  }

  .product-item__subtitle,
  .product-item__price {
    margin-left: 15px;
  }

  .product-item__price {
    font-size: 25px;
    width: 256px;
  }

  .product-item__color { display: none; }

  .product-item__color-big {
    float: right;
  }

  .mission {
    flex-direction: column-reverse;
    padding-top: 35px;
    padding-bottom: 49px;
    margin-bottom: 0;
    height: 640px;
    transform: skew(0deg, 3deg) translateY(17px);
  }

  .mission__video,
  .mission__text {
    width: 696px;
    text-align: center;
    transform: skew(0deg, -3deg);
  }

  .mission__text {
    height: 136px;
    padding-top: 50px;
    margin-left: 0;
  }

  .mission__title {
    font-size: 30px;
    margin: 44px 0 25px;
  }

  .mission__description {
    font-size: 20px;
    line-height: 25px;
    margin-top: -4px;
  }

  .mission__link { display: none; }

  .blog__wrap {
    background-color: #000;
    transform: skew(0deg, 3deg) translateY(16px);
    padding-bottom: 144px;
  }

  .blog,
  .blog__title {
    width: 680px;
    margin: auto;
    color: #fff;
    transform: skew(0deg, -3deg);
  }

  .blog__title {
    margin-bottom: 42px;
    font-size: 30px; 
  }

  .blog__entry-hide1 { display: none; }

  .blog__entry {
    width: 312px;
    height: 484px;
  }

  .blog__img {
    width: 312px;
    height: 166px;
    margin-bottom: 28px;
  }

  .blog__text { height: 286px; }

  .blog__subtitle {
    font-size: 25px;
    margin-bottom: -17px;
  }

  .blog__description,
  .blog__link {
    font-size: 20px;
  }

  .blog__description { line-height: 25px; }

  .blog__date {
    font-size: 15px;
    font-weight: 300;
    color: #000;
    opacity: 1;
  }

  .blog__link {
    margin-left: 1px;
    margin-bottom: -1px;
  }

  .blog__link .image__arrow {
    width: 47px;
    margin-left: -54px;
    margin-top: 2px;
  }

  .gallery__img-hide { display: block; }

  .gallery__wrap {
    height: 28px;
    background-color: #000;
    transform: skew(0deg, 3deg);
    padding-bottom: 145px;
  }

  .gallery,
  .gallery__subtitle {
    transform: skew(0deg, -3deg);
  }

  .gallery__subtitle {
    margin: 0;
    font-size: 30px;
    color: #fff;
    padding: 0 44px 12px 40px;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
    width: 88%;
    margin: auto;
  }

  .gallery__img {
    width: 170px;
    height: 170px;
  }

  .footer { margin-top: 332px; }

  .footer__wrapper {
    width: 88%;
    padding: 59px 50px 7px;
    display: flex;
    justify-content: space-between;
  }

  .wrap { margin-left: 0; }

  .wrap:nth-child(2) { margin-left: -30px; }

  .wrap:nth-child(3) { margin-left: -12px; }

  .footer__title { margin: 0 0 4px; }

  .footer__list {
    display: flex;
    height: 126px;
    flex-direction: column;
    justify-content: space-between;
  }

  #number1 {
    width: 98px;
  }

  #number2 {
    width: 141px;
  }

  #number3 {
    width: 149px;
  }

  #number4 {
    width: 155px;
  }

  .footer__item {
    margin-top: 1px;
    font-weight: 300;
  }

  .discount {
    width: 155px;
    letter-spacing: 1px;
    line-height: 13px;
  }

  .footer__button {
    width: 147px;
    height: 26px;
    margin: 9px -3px 5px;
    padding: 8px;
  }

  .social {
    width: 117px;
    height: 17px;
    padding-left: 0;
  }
}

@media only screen and (max-width: 375px) {
  .burger__logo2 {
    width: 104px;
    height: 22px;
    margin: 24px 47px;
  }

  .header__burger { height: 47px; }

  .image {
    height: 192px;
    background-position: 19%;
    margin-bottom: 38px;
  }

  .image__title,
  .image__link {
    padding-left: 48px;
  }

  .image__title {
    font-size: 20px;
    line-height: 19px;
    margin: 0;
    padding-top: 30px;
  }

  .image__link {
    font-size: 12px;
    padding-top: 20px;
  }

  .product-item__hide-1 { display: none; }

  .products {
    width: 75%;
    margin-bottom: 37px;
  }

  .products__title {
    font-size: 20px;
    margin-right: 10px;
    margin-bottom: 0;
  }

  .product-item {
    width: 281px;
    height: 248px;
  }

  .product-item__img {
    width: 164px;
    height: 160px;
  }

  .product-item__subtitle {
    font-size: 15px;
    margin-top: 17px;
    margin-bottom: 7px;
  }

  .product-item__price {
    font-size: 20px;
    width: 270px;
  }

  .product-item__color-big {
    width: 82px;
    height: 23px;
    margin-top: 2px;
  }

  .mission {
    height: 337px;
    padding-top: 70px;
    padding-bottom: 67px;
  }

  .mission__video {
    width: 76%;
    margin: 35px 42px;
  }

  .mission__text {
    margin-left: 0;
    width: 75%;
    padding-top: 0;
  }

  .mission__title {
    font-size: 20px;
    width: 257px;
    line-height: 25px;
    margin: -7px 0 20px 10px;
  }

  .mission__description {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 30px;
  }

  .blog { width: 278px; }

  .blog__title {
    width: 185px;
    margin-bottom: 26px;
  }

  .blog__entry-hide2 { display: none; }

  .blog__title,
  .blog__subtitle {
    font-size: 20px;
  }

  .blog__subtitle { margin-bottom: -5px; }

  .blog__img {
    width: 279px;
    height: 149px;
  }

  .blog__text { height: 185px; }

  .blog__description {
    font-size: 14px;
    line-height: 17px;
  }

  .blog__link { font-size: 12px; }

  .image__arrow { display: none; }

  .image__arrow-3 {
    width: 39px;
    height: 10px;
    margin-left: 8px;
  }

  .blog__date {
    font-size: 15px;
    color: #fff;
    font-weight: 700;
  }

  .blog__wrap { padding-bottom: 0; }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
    width: 75%;
  }

  .gallery__wrap { padding-bottom: 238px; }

  .gallery__subtitle {
    font-size: 25px;
    color: #fff;
    opacity: 1;
    text-align: center;
    margin: 2px 0 -2px 8px;
  }

  .gallery__img-hide,
  .gallery__img-hide2 {
    display: none;
  }

  .gallery__img {
    width: 141px;
    height: 140px;
  }

  .footer {
    margin-top: 272px;
    height: 898px;
  }

  .footer__wrapper {
    width: 168px;
    height: 788px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 37px;
    padding-bottom: 26px;
  }

  .footer__list {
    align-items: center;
  }

  .footer__title,
  .footer__item {
    font-size: 15px;
    margin: 0;
    line-height: 14px;
  }

  #number1 {
    order: 1;
    width: 149px;
    height: 128px;
  }

  #number2 {
    order: 2;
    width: 218px;
    height: 135px;
  }

  #number3 {
    order: 3;
    width: 218px;
    height: 133px;
  }

  #number4 {
    order: 4;
    width: 209px;
    height: 236px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
  }

  .footer__button {
    width: 150px;
    height: 37px;
    font-size: 12px;
    margin: 12px 1px 80px;
    padding: 11px;
  }

  .discount {
    margin: 10px;
    width: 167px;
    letter-spacing: 0;
  }

  .social {
    width: 167px;
    height: 21px;
  }

  .footer__copyright { letter-spacing: 0.5px; }
}

@media only screen and (max-width: 320px) {
  .burger__logo2 { margin: 24px 20px; }

  .image { background-position: 24%; }

  .image__link,
  .image__title { padding-left: 20px; }

  .products { width: 88%; }

  .mission { padding-top: 71px; }

  .mission__title {
    width: auto;
    padding: 0 30px 18px;
    margin: 0 auto;
  }

  .mission__video {
    width: 89%;
  }

  .mission__text {
    width: 89%;
    align-items: center;
    margin-bottom: 8px;
  }

  .mission__description {
    line-height: 18px;
  }

  .blog {
    padding-left: 1px;
  }

  .blog__img {
    margin-bottom: 26px;
  }

  .blog__title {
    margin-bottom: 25px;
  }

  .blog__link {
    margin-bottom: -3px;
    margin-left: -1px;
  }

  .image__arrow-3 {
    width: 42px;
    margin-left: -54px;
  }

  .gallery__subtitle {
    margin: 3px 5px 8px 10px;
    padding: 0;
  }

  .gallery {
    width: 88%;
    margin: 0 auto;
  }

  .gallery__img-hide2 {
    display: block;
  }

  .a {
    order: 5;
  }

  .b {
    order: 6;
  }

  .hide,
  .gallery__img-hide { display: none; }

  .footer__wrapper {
    padding-top: 37px;
  }

  .footer {
    margin-top: 271px;
  }

  .footer__title {
    margin-bottom: -3px;
  }

  #number2 {
    height: 134px;
  }

  #number4 {
    height: 237px;
  }
}
