.body {
  margin: 0 auto;
}

.header {
  max-width: 1170px;
  padding: 32.46px 70px 0 70px;
  display: flex;
  align-items: center;
  font-family: "GothamPro";
}

.header__logo {
  width: 55px;
  height: 55px;
}

nav {
  display: inline-block;
}

nav.header__menu {
  padding-left: 45px;
  text-transform: uppercase;
  font-size: 0;
}

a {
  text-decoration: none;
}

.header__item {
  background-color: aqua;
  margin-left: 0;
  padding-right: 35px;
  font-weight: 700;
  font-size: 12px;
  height: 24px;;
  padding-left: 0;
}

.header__controls {
  height: 24px;
  flex: 1;
  text-align: right;
}

.header__search {
  display: inline-block;
  width: 178px;
  margin-right: 35px;
  border: none;
  border-bottom: 1px solid #000000;
  align-items: center;
}

input {
  padding-left: 157px;
  border: none;
}

.header__icon-one {
  margin-left: 3.02px;
  align-content: center;
}

.cart {
  align-items: center;
}