/* font-family: Gotham Pro - Regular */
@font-face {
  font-family: 'GothamPro';
  src: url('fonts/GothamPro-Regular/GothamPro.eot');
  src: url('fonts/GothamPro-Regular/GothamPro.eot?#iefix') format('embedded-opentype'),
       url('fonts/GothamPro-Regular/GothamPro.woff2') format('woff2'),
       url('fonts/GothamPro-Regular/GothamPro.woff') format('woff'),
       url('fonts/GothamPro-Regular/GothamPro.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* font-family: Gotham Pro - Bold */
@font-face {
  font-family: 'GothamPro';
  src: url('fonts/GothamPro-Bold/GothamPro-Bold.eot');
  src: url('fonts/GothamPro-Bold/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/GothamPro-Bold/GothamPro-Bold.woff2') format('woff2'),
       url('fonts/GothamPro-Bold/GothamPro-Bold.woff') format('woff'),
       url('fonts/GothamPro-Bold/GothamPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
